.container{
    max-width: 768px;
    justify-content: center;
    align-items: center;
    background: #000;
    
}

.df{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-screen-bottom{
    display: flex;
}
